.button {
  display: inline-block;
  position: relative;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.4px);
  }
}

.button--white {
  background-color: $white;
}

.button--green {
  background-color: $medium-green;
  color: $white;
}

.button--animated {
  animation: moveTop 0.8s ease-out;
}

.button-link {
    font-size: 1rem;
    color: $medium-green;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $medium-green;
    padding: 3px;
    transition: all 0.2s;

  &:hover {
    background-color: $medium-green;
    color: $white;
    box-shadow: 0 1rem 2rem rgba(#000, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 2rem rgba(#000, 0.15);
    transform: translateY(0);
  }
}
